.portfolio-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
  background-color: white;
}

.portfolio-table thead {
  text-align: left;
}

.portfolio-table th,
.portfolio-table td {
  padding: 12px 16px;
  border-bottom: 1px solid #e5e7eb;
}

.portfolio-table tbody tr:hover {
  background-color: #e5e7eb;
}

.portfolio-table th {
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: 1px;
}

.portfolio-table td {
  color: #374151;
}
