.portfolio-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
}

.portfolio-table thead {
  text-align: left;
}

.portfolio-table th,
.portfolio-table td {
  padding: 12px 16px;
  border-bottom: 1px solid #e5e7eb;
}

.portfolio-table tbody tr:hover {
  background-color: #e5e7eb;
}

.portfolio-table th {
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: 1px;
}

.portfolio-table td {
  color: #374151;
}

.buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.button{
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  margin-bottom: 20px;
}
.buy-button {
  color: #188a42 !important;
  border-color: rgba(0,0,0,0);
  background: #d8f3e4;
}

.edit-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #4f46e5;
  font-size: 1.1rem;
  transition: color 0.2s;
}

.edit-btn:hover {
  color: #3730a3;
}

.position-row {
  position: relative; /* potrzebne, aby popup był względem wiersza */
}

.actions-cell {
  position: relative;
  width: 50px;
}

/* Przycisk trzy kropki */
.popup-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

/* Popup nad wierszem */
.popup-menu {
  position: absolute;
  bottom: 100%; /* nad wierszem */
  right: 0;
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  padding: 0.3rem 0;
  z-index: 100;
  min-width: 120px;
}

/* Przyciski w popupie */
.popup-menu button {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.popup-menu button:hover {
  background-color: #f3f4f6;
}

.popup-menu button:hover {
  background-color: #f3f4f6;
}

@media (max-width: 768px) {
  .portfolio-table,
  .portfolio-table thead,
  .portfolio-table tbody,
  .portfolio-table th,
  .portfolio-table td,
  .portfolio-table tr {
    display: block;
  }

  .portfolio-table thead {
    display: none; /* ukrywa nagłówek */
  }

  .portfolio-table tr {
    margin-bottom: 1rem;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 10px;
  }

  .portfolio-table td {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px;
    text-align: left;
    border: none;
    border-bottom: 1px solid #e5e7eb;
    position: relative;
  }

  .portfolio-table td::before {
    content: attr(data-label); /* pokaże nagłówek w każdym „komórce” */
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.7rem;
    color: #6b7280;
  }
}
