.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
  margin-top: 20px;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 24px;
}

.add_portfolio_btn {
  font-size: 32px;
  background: none;
  border: none;
  cursor: pointer;
}
