<div class="portfolio-page">
  <div class="portfolio-header">
    <h1 class="portfolio-title">My Portfolio</h1>
  </div>

  @if (positions$ | async; as positions) {
    <div class="card">
      <div class="buttons">
        <button class="button buy-button" (click)="openModal()">BUY</button>
        <button class="button sell-button" (click)="openModal()">SELL</button>
      </div>

      <app-portfolio-position-table
        class="portfolio-list"
        [positions]="positions">
      </app-portfolio-position-table>
    </div>
    <div class="card">
      <app-portfolio-position-chart
        class="portfolio-chart"
        [positions]="positions">
      </app-portfolio-position-chart>
    </div>
  } @else {
    <div class="loading-placeholder">
      Ładowanie danych lub brak pozycji w portfelu...
    </div>
  }

  @if (isModalOpen) {
    <app-add-position-modal
      (close)="closeModal()"
      (submitPosition)="addPosition($event)">
    </app-add-position-modal>
  }
</div>
