<div class="portfolio-page">
  <h1 class="portfolio-title">My Portfolio</h1>
  <button class="add-button" (click)="openModal()">+ Dodaj pozycję</button>

  @if (positions$ | async; as positions) {
    <app-portfolio-position-list
      class="portfolio-list"
      [positions]="positions">
    </app-portfolio-position-list>
  } @else {
    <div class="loading-placeholder">
      Ładowanie danych lub brak pozycji w portfelu...
    </div>
  }

  @if (isModalOpen){
    <app-add-position-modal
      (close)="closeModal()"
      (submitPosition)="addPosition($event)">
    </app-add-position-modal>
  }
</div>
