.card {
  background-color: white;
  border-radius: 16px;
  margin-top: 50px;
  padding: 24px;

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1),
  0 4px 16px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid rgba(255, 255, 255, 0.25); /* lekki obrys */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.portfolio-page {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.portfolio-title {
  font-size: 2rem;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 24px;
  text-align: center;
}

.loading-placeholder {
  text-align: center;
  font-size: 1rem;
  color: #6b7280;
  padding: 20px;
  background-color: #f9fafb;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.portfolio-list {
  display: block;
  width: 100%;
}

.button{
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  margin-bottom: 20px;
}
.buy-button {
  color: #188a42 !important;
  border-color: rgba(0,0,0,0);
  background: #d8f3e4;
}

.sell-button{
  color: #a73030 !important;
  border-color: rgba(0,0,0,0);
  background: #f9dfe0;
}
