<div class="portfolio-page">
  <div class="portfolio-header">

    @if (portfolio$ | async; as portfolio) {
      <h1 class="portfolio-title">{{ portfolio.name }}</h1>

      @if (positions$ | async; as positions) {
        <div class="card">
          <app-portfolio-position-table
            [positions]="positions"
            (submitAddPosition)="addPosition($event)"
            (submitEditPosition)="editPosition($event)"
          >
          </app-portfolio-position-table>
        </div>

        <div class="card">
          <app-portfolio-position-chart
            [positions]="positions">
          </app-portfolio-position-chart>
        </div>
      } @else {
        <div class="loading-placeholder">
          Brak pozycji w portfelu
        </div>
      }

    } @else {
      <div class="loading-placeholder">
        Ładowanie portfela...
      </div>
    }

  </div>
</div>
